body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand i {
    color: #0d6efd; 
}

.card {
    border-radius: 10px; 
    transition: transform 0.2s; 
}


#overview .card:hover {
    transform: translateY(-5px); 
}

canvas {
    max-width: 100%;
}

.badge {
    font-weight: 500;
    letter-spacing: 0.5px;
}

#btnExport {
    font-weight: 600;
    transition: all 0.3s ease;
}

#btnExport:hover {
    background-color: #0b5ed7;
    transform: scale(1.05);
}